@page
@model WebApp.Pages.Battleship.Index

<head>
    <script src="~/jsVendor/mustache.js"></script>
    <script src="~/jsVendor/RazorExpress.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Battleship</title>

    <!-- <script src="https://cdn.jsdelivr.net/npm/raz@0.0.80/raz.js"></script> -->
</head>

<div id="mainBody">
    Content goes here, If you see this message JS has failed!
</div>

<script type="module">
    import Rendering from "./jsSrc/Rendering.js";

    new Rendering().init().then((x) => {
        x.renderByName("StartMenu");
    });

</script>