@page
@model WebApp.Pages.Battleship.Index

<div class="page">
    <partial name="Shared/_StartMenuPartial" />
</div>

<div class="page" style="display:none" id="NewGame">
    <partial name="Shared/_NewGamePartial" />
</div>
