@page "/Canvas"
@using Game
@using Domain.Model
@using Domain.Model.Api
<h3>Canvas</h3>

<canvas></canvas>

@code {

    public static void Run()
    {
        /*
        BaseBattleship game = new WebBattle(
            10,
            10,
            "1x5N1; 1x4N2; 1x3N3; 1x2N4",
            2,
            -1,
            -1
            );
        */
    }
}